html, body {
    height: 100%;
}

body {
    background: url(/img/dust.png) repeat;
    font-family: "Lucida Grande", Verdana, Tahoma, Helvetica, Arial, sans-serif;
}

a {
    font: 1.0em/1.0em;
    text-decoration: none;
}

a:link, a:visited {
    color: #666;
}

a:hover, a:active {
    color: #365081;
}
h1,h2,h3 {
    padding:0;
    margin:0;
    font: 1.75em/3.0em "Lucida Grande", Verdana, Tahoma, Helvetica, Arial, sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    border-bottom: 1px solid #DDD;
    color: #2f416b;
}

h1 .un {
    color: #8b8b8b;
}

.hidden {
    display: none;
}

.wrapper {
    position: relative;
    text-align: center;
    margin: 0 50px -60px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

#asigner a {
    display: block;
}

#asigner .ready-text {
    color: #8b8b8b;;
    font-size: 0.5em;
    position: relative;
    margin: -5px 0 0 350px;

}

#asigner .combination {
    color: #3b3b3b;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 5px;
}

#asigner .status {
    padding: 10px;
    color: #3d52a7;
}

.hint {
    position: relative;
    font-size: 0.65em;
    color: #999;
    margin: 0 auto;
}

.push {
    height: 200px;
}

footer {
    position: relative;
    margin: 0 auto;
    height: 60px;
    text-align: center;
}

footer,
footer a {
    font-size: 0.7em;
}

#ver-minimalist {
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
}

#ver-minimalist th {
    font-weight: normal;
    font-size: 14px;
    border-bottom: 2px solid #6678b1;
    color: #039;
    padding: 8px 2px;
}

#ver-minimalist td {
    color: #444;
    padding: 12px 2px 0;
}

#ver-minimalist td.caption {
    padding-top: 0;
}

#ver-minimalist td.control {
    width: 50px;
}